// Place all the styles related to the onomatopoeia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.show{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}
h1#onomatope_title{
    text-align: center;
}

h3#onomatope_kana{
    text-align: center;
}

p#onomatope_description{
    text-align: center;
}

#onomatope_sample{
    display:block;
    margin:auto;
    width: 480px;
    height: auto;
}
*/